<%- include('./partial/head.ejs') %>
<div class="wrapper">
    <h1><%= weather.city %></h1>

    <h2>Current Weather</h2>
    <ul>
        <li><%= weather.time %></li>
        <li><img src="<%= weather.icon %>" alt=""></li>
        <li><%= weather.weather %></li>
        <li><%= weather.temperature %></li>
        <li><%= weather.wind %></li>
    </ul>
    
    <a href="/">Search another city</a>
</div>
<%- include('./partial/footer.ejs') %>