<%- include('./partial/head.ejs') %>
<div class="wrapper">
    <div class='weather-card'>
    <h1><%= weather.city %></h1>

    <h2>Current Weather</h2>
    <p>Time: <%= weather.time %></p>
    <p><img src="<%= weather.icon %>" alt=""></p>
    <p>Conditions: <%= weather.weather %></p>
    <p>Temperature: <%= weather.temperature %></p>
    <p>Wind: <%= weather.wind %></p>
    
    <a href="/">Search another city</a>
    </div>
</div>
<%- include('./partial/footer.ejs') %>