<%- include('./partial/head.ejs') %>
<div class="wrapper">
    <div class='weather-card'>
        <p class='img-wrapper'><img src="<%= weather.icon %>" alt=""></p>
        <h1><%= weather.city %></h1>
        <p><%= weather.region %></p>
        <p><%= weather.country %></p>
        <h2>Current Weather</h2>
        <p>Conditions: <%= weather.weather %></p>
        <p>Temperature: <%= weather.temperature %></p>
        <p>Wind: <%= weather.wind %></p>
        
        <a href="/">Search another city</a>
    </div>
</div>
<%- include('./partial/footer.ejs') %>